@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Open+Sans:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
}

html {
  scroll-behavior: smooth;
  --bg: #0c1016;
  --bg-cont: #13181f;
  --bg-box: #1e324b4d;
  --h4: #ed6a5a;
}

body {
  font-family: Inter, "Open Sans", "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-color: var(--bg);
  /* background-image: url("/assets/images/bg.jpg"); */
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  margin: 0.5em;
  font-family: "Open Sans", "Poppins", "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h2,
h3,
h4,
h5,
p {
  margin: 1em;
}

a,
a:visited {
  text-decoration: none;
  color: #d1d1d1;
}

h1,
h2,
h3,
p,
.acc,
li {
  color: #d1d1d1;
}

h3 {
  text-decoration: underline;
}

h4 {
  font-size: 1.09rem;
  color: var(--h4, #ed6a5a);
}

code {
  border-radius: 4px;
  border: solid 1px;
  font-family: "Fira Code", "Cascadia Code", "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.1em 0.65em;
}

.parent {
  display: grid;
  padding: 1.3em;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 60px auto;
  grid-column-gap: 1.3em;
  grid-row-gap: 1.3em;
}

.header,
.sidebar,
.body {
  padding: 1.3em;
  background: var(--bg-cont);
  border-radius: 6px;
}

.sidebar,
.body {
  overflow: scroll;
}

.sidebar ul {
  margin: 0.5em;
}

.sidebar li {
  margin-bottom: 5px;
}

.sidebar p {
  margin: 0.5em;
}

.header {
  display: flex;
  align-items: center;
  grid-area: 1 / 1 / 2 / 3;
}

.nav {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav li a,
.nav li p {
  margin-right: 1.3em;
  text-decoration: none;
  color: #eeeeee;
}

.nav .active {
  text-decoration: none;
  color: var(--h4);
}

.nav a {
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.nav a::before,
.nav a::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
}

.nav a::before {
  background-color: var(--h4);
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.nav a::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  color: var(--h4);
}

.nav a:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

.nav a:hover::after {
  transform: translate3d(0, 0, 0);
}

.nav a span {
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.nav a:hover span {
  transform: translate3d(-200%, 0, 0);
}

::-webkit-scrollbar {
  display: none;
}

.body {
  grid-area: 2 / 1 / 3 / 3;
}



/* Put the deez button at the end of the flex */

.deezcord {
  margin-left: auto;
  list-style: none;
  text-decoration: none;
  color: white;
  padding: 0;
}

.deezcord a {
  text-decoration: none;
  color: #eeeeee;
}

.linkdeez {
  display: flex;
  align-items: center;
}

.linkdeez i {
  display: none;
}

.textdeez {
  margin-left: 10px;
  border-radius: 7px;
  background-color: var(--bg-box);
  padding: 10px 10px;
  transition: 0.2s;
}

.textdeez:hover {
  background-color: #083a5c;
}

input,
label,
table {
  color: #fff;
  margin: 5px;
  margin-bottom: 5px;
}

.logo {
  margin-right: 1em;
  background: url("images/logotg1.png");
  width: 42px;
  height: 42px;
  background-size: contain;
  background-repeat: no-repeat;
}

ul {
  margin-left: 1.3em;
  line-height: 2;
}

.hamburger,
.titre {
  display: none;
}

.empire {
  display: none;
}

.boxx {
  background-color: var(--bg-box);
  border-radius: 6px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-top: 0.4em;
}

.acc {
  padding: 0.4em;
  cursor: pointer;
  border: none;
  text-align: left;
  width: 100%;
  background-color: var(--bg-box);
  border-radius: 6px;
  padding: 1em;
  color: var(--h4);
  transition: 0.2s;
  margin-top: 1.3em;

}

.acc:hover {
  background-color: #083a5c;
}

p {
  line-height: 1.7;
}

.vocabul {
  margin: 1em 2.5em 1em;
}

ol {
  margin-left: 2.5em;
  line-height: 2;
}

.plan {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 2.5em;
}


.bouton {
  margin-bottom: 1em;
  border-radius: 7px;
  background-color: var(--bg-box);
  padding: 10px 15px;
  transition: 0.2s;
  display: block;
  width: fit-content;
}

.bouton:hover {
  background-color: #083a5c;
}

.bouton .box {
  background-color: var(--bg-box);
  border-radius: 6px;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.box {
  background-color: var(--bg-box);
  border-radius: 6px;
  padding: 1em;
  display: flex;
  flex-direction: column;
}

.box p {
  font-style: italic;
  margin: 0;
}

.box .person,
.box .ou {
  font-style: normal;
  text-align: right;
}

.box .ou {
  text-decoration: underline;
}

.box .person {
  margin-top: auto;
}

.citations {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1em;
  margin: 1em;
}

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - (1.3em * 5));
}

.landingimg {
  height: 10em;
  width: auto;
}

.landingh1 {
  font-size: 3em;
  margin: 0;
}

.landinglienparent {
  display: flex;
}

.landinglien {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.landinglienparentmq {
  display: none;
}

.landingcontent {
  width: 80vw;
  height: fit-content;
  min-height: 80vh;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5em;
  grid-row-gap: 5em;
}

.landingcontent div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 1.5em;
  border-radius: 6px;
}

.landingcontent div span {
  margin: 0;
}

.landingcontent div i {
  color: #d1d1d1;
  transition: 0.2s;
  font-size: 3em;
}

.landingcontent div i:hover {
  color: var(--h4);
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bg-box);
  border-radius: 6px;
  margin-top: 3em;
}

.dms {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}

.bouton i {
  color: #d1d1d1;
  margin-right: 7px;
}

.markerdiv {
  height: 20px;
  width: 100%;
  background-color: #ed6a5a;
}

.lien {
  color: var(--h4);
  text-decoration: none;
  transition: 0.2s;
}

.mermaid {
  margin-top: 3em;
}

.diagram {
  overflow-x: 500vw;
  overflow-y: hidden;
  white-space: nowrap;
}

.cartesmentales {
  display: flex;
  justify-content: center;
  width: 100%;
}

.figma>iframe {
  margin: 1em;
  width: 40vw;
}















































@media (max-width: 671px) {

  /* Create a side .navibar */
  .header {
    position: relative;
  }

  .logotitre {
    display: flex;
    align-items: center;
    margin-left: auto;
  }


  .titre {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
    color: #fafafa;
  }

  /* Hamburger */
  .hamburger {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    display: flex;
    background: var(--bg-cont);
    align-items: center;
    position: relative;
  }

  .hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background: #fafafa;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s ease-out;
  }

  .hamburger span:nth-child(1),
  .hamburger span:nth-child(3) {
    transition: transform 0.3s ease-out;
  }

  .hamburger span:nth-child(1) {
    transform: translateY(7px);
  }

  .hamburger span:nth-child(3) {
    transform: translateY(-7px);
  }

  .hamburger.open span:nth-child(1) {
    transform: translate(0) rotate(135deg);
  }

  .hamburger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0s ease-out;
  }

  .hamburger.open span:nth-child(3) {
    transform: translate(0) rotate(-135deg);
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background: var(--bg);
    top: 100%;
    left: 0;
    width: 80vw;
    height: 90vh;
    transform: translate(-120%);
    padding: 1.3em;
    z-index: 1;
  }

  .nav li {
    margin-bottom: 1.3em;
  }

  .open {
    transform: translate(0%);
  }

  .deezcord {
    justify-self: end;
  }

  .textdeez {
    display: none;
  }

  .linkdeez i {
    display: block;
  }

  .deezcord a {
    text-decoration: none;
    color: #eeeeee;
  }

  .deezcord a:hover {
    color: var(--h4);
  }

  .empire {
    display: block;
    margin-right: auto;
    margin-left: 5px;
    text-align: center;
    font-size: 1.5rem;
    color: #fafafa;
    font-size: medium;
  }

  ol {
    margin-left: 1.5em;
    line-height: 1.7;
  }

  .landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - (1.3em * 5));
    z-index: 0;
  }

  .landingimg {
    height: 8em;
    width: auto;
  }

  .landing h1 {
    text-align: center;
  }

  .landinglienparent {
    display: none;
  }

  .landinglienparentmq {
    display: flex;
  }

  .landinglienmq {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  .landingcontent {
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 2em;
    grid-row-gap: 5em;
  }

  .cartesmentales {
    display: flex;
    flex-direction: column;
  }

  .figma>iframe {
    margin: 0.5em;
    width: 100%;
  }
}

@media (max-width: 410px) {
  .logo {
    display: none;
  }

  .header,
  .sidebar,
  .body {
    padding: 0.5em;
    background: var(--bg-cont);
    border-radius: 6px;
  }

  h2,
  h3,
  h4,
  h5,
  p {
    margin: 0.6em;
  }

  .parent {
    padding: 0.5em;
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;
  }
}