@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Open+Sans:wght@600&display=swap");


*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
}

html {
  --bg: #0c1016;
  --bg-cont: #13181f;
  --h4: #ed6a5a;
}

body {
  font-family: "Open Sans", "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-color: var(--bg);
  /* background-image: url("/assets/images/bg.jpg"); */
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
}

h1 {
  margin: 0.5em;
}

h2,
h3,
h4,
h5,
p {
  margin: 1em;
}

h1,
h2,
h3,
p,
li {
  color: #fff;
}

h3 {
  text-decoration: underline;
}

h4 {
  font-size: 1.09rem;
  color: var(--h4, #ed6a5a);
}

code {
  border-radius: 4px;
  border: solid 1px;
  font-family: "Fira Code", "Cascadia Code", "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.1em 0.65em;
}

.parent {
  display: grid;
  padding: 1.3em;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 60px auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.header,
.sidebar,
.body {
  padding: 1.3em;
  background: var(--bg-cont);
  border-radius: 6px;
}

.sidebar,
.body {
  overflow: scroll;
}

.sidebar ul {
  margin: 0.5em;
}

.sidebar li {
  margin-bottom: 5px;
}

.sidebar p {
  margin: 0.5em;
}

.header {
  display: flex;
  align-items: center;
  grid-area: 1 / 1 / 2 / 3;
}

.nav {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav li a,
.nav li p {
  margin-right: 1.3em;
  text-decoration: none;
  color: #eeeeee;
}

.nav .active {
  text-decoration: none;
  color: #54b3d6;
}

.nav a {
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.nav a::before,
.nav a::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
}

.nav a::before {
  background-color: #54b3d6;
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.nav a::after {
  content: attr(data-replace);
  height: 100%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(200%, 0, 0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
  color: #54b3d6;
}

.nav a:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

.nav a:hover::after {
  transform: translate3d(0, 0, 0);
}

.nav a span {
  display: inline-block;
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}

.nav a:hover span {
  transform: translate3d(-200%, 0, 0);
}

::-webkit-scrollbar {
  display: none;
}

.body {
  grid-area: 2 / 1 / 3 / 3;
}



/* Put the deez button at the end of the flex */

.deezcord {
  margin-left: auto;
  list-style: none;
  text-decoration: none;
  color: white;
  padding: 0;
}

.deezcord a {
  text-decoration: none;
  color: #eeeeee;
}

.linkdeez {
  display: flex;
  align-items: center;
}

.linkdeez i {
  display: none;
}

.textdeez {
  margin-left: 10px;
  border-radius: 7px;
  background-color: #048abb46;
  padding: 10px 10px;
}

.textdeez:hover {
  background-color: #048abb7a;
}

input,
label,
table {
  color: #fff;
  margin: 5px;
  margin-bottom: 5px;
}

.logo {
  margin-right: 0.5em;
  background: url("images/logo.gif");
  width: 60px;
  height: 60px;
  background-size: contain;
  background-repeat: no-repeat;
}

.vocabulaire {
  margin-left: 1.3em;
  line-height: 2;
}

.hamburger,
.titre {
  display: none;
}

/* Responsive : */

@media (max-width: 671px) {

  /* Create a side .navibar */
  .header {
    position: relative;
  }

  .titre {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
    color: #fafafa;
  }

  .logo {
    margin: 0 auto;
  }

  /* Hamburger */
  .hamburger {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    display: flex;
    background: var(--bg-cont);
    align-items: center;
    position: relative;
  }

  .hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background: #fafafa;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s ease-out;
  }

  .hamburger span:nth-child(1),
  .hamburger span:nth-child(3) {
    transition: transform 0.3s ease-out;
  }

  .hamburger span:nth-child(1) {
    transform: translateY(7px);
  }

  .hamburger span:nth-child(3) {
    transform: translateY(-7px);
  }

  .hamburger.open span:nth-child(1) {
    transform: translate(0) rotate(135deg);
  }

  .hamburger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0s ease-out;
  }

  .hamburger.open span:nth-child(3) {
    transform: translate(0) rotate(-135deg);
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background: var(--bg);
    top: 120%;
    left: 0;
    width: 100%;
    transform: translate(-120%);
    padding: 1.3em;
  }

  .nav li {
    margin-bottom: 1.3em;
  }

  .open {
    transform: translate(0%);
  }

  .deezcord {
    margin-left: 0;
  }

  .textdeez {
    display: none;
  }

  .linkdeez i {
    display: block;
  }

  .deezcord a {
    text-decoration: none;
    color: #eeeeee;
  }

  .deezcord a:hover {
    color: #54b3d6;
  }
}